
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="icon" href="static/images/logo.jpeg">
</head>
<body>
    <div class="container">

        <div class="block">
            <h2>About the Project</h2>
            <p>Our project offers a rich set of features, including transaction filtering, graphical reports, and an intuitive user interface. You can easily manage your finances, analyze data, and make informed decisions based on visual insights.</p>
        </div>

        <div class="block">
            <h2>Developer Contacts</h2>
            <div class="links">
                <a href="https://t.me/big_pencil19" target="_blank">Telegram</a>
                <a href="https://github.com/leonidig" target="_blank">GitHub</a>
            </div>
        </div>


        <div class="block">
            <h2>Project Links</h2>
            <div class="links">
                <a href="https://t.me/Balance_1ManagerBot" target="_blank">Project Telegram</a>
                <a href="https://github.com/leonidig/X-PYTHON-MANAGER" target="_blank">Project GitHub</a>
            </div>
        </div>
    </div>
    <div class="home-block">
        <a href="/" class="home-button">Home Page</a>
    </div>
</body>
</html>
