<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Append Balance Form</title>
    <link rel="stylesheet" href="static/css/append.css">
    <link rel="icon" href="static/images/logo.jpeg">
</head>
<body>
    <div class="header-title">BALANCE-MANAGER</div>
    <form action="/append_balance" method="post">
        <label for="append_number">Enter the amount:</label>
        <input type="number" id="append_number" name="append_number" required>
        <p>Remember your untouchable balance - the one you entered when you registered - {{ untouchable_var }}</p>
        

        <label for="comment">Transaction Comment:</label>
        <textarea id="comment" name="comment" placeholder="Enter your transaction comment here..."></textarea>
        
        <button type="submit">Send</button>
        
        <div class="info-text">
            if it is a profit, enter a number<br>
            If it is a loss, write a "-" sign before entering the amount
        </div>
        
        <div class="themes">
            <h2>Select source</h2>
            <div class="radio-group">
                <label for="sports">
                    <input type="radio" id="sports" name="choice" value="Sports" required>
                    Sports
                </label>
                <label for="science">
                    <input type="radio" id="science" name="choice" value="Science" required>
                    Science
                </label>
                <label for="games">
                    <input type="radio" id="games" name="choice" value="Games" required>
                    Games
                </label>
                <label for="nature">
                    <input type="radio" id="nature" name="choice" value="Nature" required>
                    Nature
                </label>
            </div>
        </div>
    </form>
</body>
</html>
