<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance-Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Balance-Manager</a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/append_balance" class="btn btn-primary">Append Balance</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="dropdown">
                    <details>
                        <summary>Sort by</summary>
                        <p><div class="dropdown-content">
                            <p>Themes</p>
                            <form id="dropdownForm" action="#" method="POST">
                                <input type="hidden" id="dropdownValue" name="dropdownValue">
                                <button type="button" onclick="submitDropdownForm('Sports')">Sport</button>
                                <button type="button" onclick="submitDropdownForm('Nature')">Nature</button>
                                <button type="button" onclick="submitDropdownForm('Games')">Games</button>
                                <button type="button" onclick="submitDropdownForm('Science')">Science</button>
                            </form>
                        </div></p>
                            <p>Profit / Loss</p>
                            <a class="btn btn-secondary" href="/profit">Profit</a>
                            <a class="btn btn-secondary" href="/loss">Loss</a>
                    </details>
                </li>
                <li class="nav-item">
                    <i class="fas fa-user"> {{ nickname }}</i>
                </li>
                <li class="nav-item">
                    <i>Total Sum: {{ total_sum }} $</i>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="header-title">{% block title %} Welcome to Balance-Manager {% endblock %}</h1>
        {% if balances %}
        {% block content %}
            {% for balance in balances %}
                <div class="transaction-block">
                    <a href="/balance/{{ balance.id }}">{{ balance.owner }}</a>
                    <p>{{ balance.total }}$</p>
                </div>
            {% endfor %}
        {% endblock %}
        {% endif %}
    </div>

    <footer>
        &copy; 2024 Balance-Manager. All rights reserved.
    </footer>
    <script src="static/js/get_url.js"></script>
</body>
</html>
