<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loss</title>
    <link rel="stylesheet" href="static/css/finance.css">
</head>
<body>
    {% if loss %}
        {% for l in loss %}
            <div class="finance-item">
                <h1>- {{ l.total }}</h1>
                <h2>{{ l.date }}</h2>
                <h2>{{ l.theme }}</h2>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Chart Container -->
    <div class="chart-container">
        <canvas id="lossChart"></canvas>
    </div>

    <script id="data" type="application/json">
        {{ loss | tojson | safe }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/js/chart_loss.js"></script>
</body>
</html>
