<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit</title>
    <link rel="stylesheet" href="/static/css/finance.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% if profit %}
        {% for p in profit %}
        <div class="finance-item">
            <h1>+ {{ p.total }}</h1>
            <h2>{{ p.date }}</h2>
            <h2>{{ p.theme }}</h2>
        </div>    
        {% endfor %}
    {% endif %}

    <!-- Chart Container -->
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <!-- Script to pass data in JSON format -->
    <script id="data" type="application/json">
        {{ profit | tojson | safe }}
    </script>

    <script src="/static/js/chart_finance.js"></script>
</body>
</html>
